*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    background-color: rgb(226, 223, 223);
    overflow-x: hidden;
}

.img{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 10px    
}


.dados p{
    font-size: 20px;
}

/*Entrada de Dados*/

.dados{
    display: flex;
    flex-flow: column;
    width: 50%;    
    position: relative;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}


/*Dados do Ambiente*/

.dadosAmbiente{
    /* border: 1px solid black; */
    width: 100%;
    margin: 2%;
}

.dadosAmbiente input{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(231, 228, 223);
    border: 1px solid gray;
}

.dadosAmbiente p{
    margin-bottom: 5px;
}


/*Dados do piso*/

.dadosPiso{
    /* border: 1px solid black; */
    width: 95%;
    margin: 2%;
    border: 1px solid rgb(134, 134, 134);
    background-color: rgb(235, 235, 235);
}


.dadosPiso p{
    margin-bottom: 5px;
    margin-left: 10px;
}

.dadosPiso input{
    width: 30%;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid gray;
    margin-bottom: 10px;
    margin-left: 10px;
}


/*Outros Dados*/

.outrosDados{
    /* border: 1px solid black; */
    width: 100%;
    margin: 2%;
    margin-bottom: 4%;
}

.enviar {
    display: flex;
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content:end;
    margin-bottom: 50px;
}

.outrosDados input{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(231, 228, 223);
    border: 1px solid gray;
}


.outrosDados p{
    margin-bottom: 5px;
}

.dadosPiso .titulo {
    margin: 10px;
}


/*GERAL*/

h1{
    text-align: center;
    font-size: 2rem;
    margin: auto;
    margin-top: 10px    
}

h2{
    text-align: center;
    font-size: 25px;
    color: rgb(27, 8, 8);
    /* margin-top: 2px; */
}


.btn{
    width: 150px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    height: 30px;
}

.btn:hover{
    background-color: rgb(0, 139, 253);
}

p{
    font-size: 18px;
}

.resultado{
    display: flex;
    flex-flow: column;
    width: 50%;    
    position: relative;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    height: 90%;
    margin-bottom: 20%;
    
}


.resultado p{
    margin: 2%;
    font-size: 20px;
}


.resultadoAmbiente{
    width: 100%;
    margin:2%;
}


.resultadoPiso{
    width: 100%;
    margin:2%;
}


.resultadoArgamassa{
    width: 100%;
    margin:2%;
}


.resultadoRejunte{
    width: 100%;
    margin:2%;
}

.rodape{
    height: 60px;
    background-color: rgb(177, 177, 177);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
}